body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-arial: Arial;
  --font-lato: Lato;
  --font-arial-rounded-mt-bold: "Arial Rounded MT Bold";
  --font-luckiest-guy: "Luckiest Guy";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-5xl: 24px;
  --font-size-17xl-8: 36.8px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-gray-100: #1c1c1c;
  --color-darkkhaki: #ccae4e;
  --color-orange-100: #ffaa00;
  --color-white: #fff;
  --color-red: #ff0000;
  --color-darkseagreen: #a1deab;
  --color-gold-100: #ffde59;
  --color-gold-200: #ffc712;

  /* Gaps */
  --gap-173xl: 192px;
  --gap-84xl: 103px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-9xs: 4px;
  --padding-base: 16px;
  --padding-8xs: 5px;
  --padding-10xs: 3px;

  /* border radiuses */
  --br-8xs: 5px;
  --br-9xs: 4px;
  --br-10xs: 3px;
}
