.cauction-xyz-by-html {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.cauction-xyz-by-html .div {
  background-color: #1c1c1c;
  border: 1px none;
  height: 2947.69px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.cauction-xyz-by-html .overlap {
  height: 163px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.cauction-xyz-by-html .header {
  align-items: center; /* Center vertically */
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  left: 0;
  mix-blend-mode: normal;
  padding: 57.8px 850.58px 58.79px 849.42px;
  position: absolute;
  top: 0;
  width: 1920px;
}

.cauction-xyz-by-html .link-heading-c-s {
  color: #fae36e;
  font-family: "Arial-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px 4px #00000080;
  white-space: nowrap;
  width: fit-content;
}

.cauction-xyz-by-html .link {
  align-items: flex-start;
  background-color: #ccae4e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  left: 1851px;
  padding: 5px 13.16px 5px 13px;
  position: absolute;
  top: 10px;
  width: 59px;
}

.cauction-xyz-by-html .text-wrapper {
  color: #1c1c1c;
  font-family: "Arial-Narrow", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.cauction-xyz-by-html .overlap-group {
  height: 2703px;
  left: 0;
  position: absolute;
  top: 244px;
  width: 1920px;
}

.cauction-xyz-by-html .section {
  background-color: #242424;
  height: 2653px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.cauction-xyz-by-html .div-image-grid {
  height: 2452px;
  left: 29px;
  position: relative;
  top: 192px;
  width: 1824px;
}

.cauction-xyz-by-html .row {
  height: 1299px;
  left: 402px;
  position: absolute;
  top: 1105px;
  width: 1030px;
}

.cauction-xyz-by-html .crimson-bundle {
  height: 818px;
  left: 0;
  position: absolute;
  top: 481px;
  width: 1034px;
}

.cauction-xyz-by-html .crimson-armour {
  left: 451px !important;
  position: absolute !important;
  top: 768px !important;
}

.cauction-xyz-by-html .hyperion-purchase-instance {
  border: 1px solid !important;
  border-color: #000000 !important;
}

.cauction-xyz-by-html .overlap-group-2 {
  height: 768px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1030px;
}

.cauction-xyz-by-html .p {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(255, 198.9, 0) 28.96%, rgb(255, 122.4, 0) 70.73%);
  background-clip: text;
  color: transparent;
  font-family: "Luckiest Guy-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 136px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 1030px;
}

.cauction-xyz-by-html .span {
  color: #000000;
}

.cauction-xyz-by-html .text-wrapper-2 {
  color: #000000;
  font-size: 30px;
}

.cauction-xyz-by-html .img {
  height: 271px;
  left: 198px;
  object-fit: cover;
  position: absolute;
  top: 87px;
  width: 271px;
}

.cauction-xyz-by-html .crimson-armour-2 {
  color: transparent;
  font-family: "Lato-Bold", Helvetica;
  font-size: 48px;
  font-weight: 700;
  height: 83px;
  left: 321px;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 685px;
  width: 400px;
}

.cauction-xyz-by-html .text-wrapper-3 {
  color: #ff0000;
  text-decoration: line-through;
}

.cauction-xyz-by-html .text-wrapper-4 {
  color: #ff0000;
}

.cauction-xyz-by-html .text-wrapper-5 {
  color: #4bc648;
}

.cauction-xyz-by-html .overlap-2 {
  height: 431px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 1007px;
}

.cauction-xyz-by-html .divans-drill {
  height: 431px;
  left: 0;
  position: absolute;
  top: 0;
  width: 338px;
}

.cauction-xyz-by-html .divans-drill-text {
  color: #00ffd1;
  font-family: "Arial Rounded MT Bold-Regular", Helvetica;
  font-size: 36.8px;
  font-weight: 400;
  height: 34px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 4px #00ffef40;
  top: 301px;
  white-space: nowrap;
  width: 334px;
}

.cauction-xyz-by-html .text-wrapper-6 {
  color: #a0deaa;
  font-family: "Arial Rounded MT Bold-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 32px;
  left: 52px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 344px;
  width: 231px;
}

.cauction-xyz-by-html .design-component-instance-node {
  left: 96px !important;
  position: absolute !important;
  top: 381px !important;
}

.cauction-xyz-by-html .img-2 {
  height: 271px;
  left: 31px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 271px;
}

.cauction-xyz-by-html .space-helmet {
  height: 431px;
  left: 669px;
  position: absolute;
  top: 0;
  width: 338px;
}

.cauction-xyz-by-html .space-helmet-text {
  color: #ffaa00;
  font-family: "Arial Rounded MT Bold-Regular", Helvetica;
  font-size: 36.8px;
  font-weight: 400;
  height: 34px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 301px;
  white-space: nowrap;
  width: 334px;
}

.cauction-xyz-by-html .img-3 {
  height: 271px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 271px;
}

.cauction-xyz-by-html .clover-helmet {
  height: 431px;
  left: 334px;
  position: absolute;
  top: 0;
  width: 339px;
}

.cauction-xyz-by-html .clover-helmet-text {
  color: #ffaa00;
  font-family: "Arial Rounded MT Bold-Regular", Helvetica;
  font-size: 36.8px;
  font-weight: 400;
  height: 34px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 301px;
  white-space: nowrap;
  width: 335px;
}

.cauction-xyz-by-html .clover-helmet-image {
  height: 271px;
  left: 36px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 271px;
}

.cauction-xyz-by-html .row-2 {
  height: 544px;
  left: 246px;
  position: absolute;
  top: 532px;
  width: 1369px;
}

.cauction-xyz-by-html .giant-fishing-rod {
  height: 347px;
  left: 0;
  position: absolute;
  top: 96px;
  width: 338px;
}

.cauction-xyz-by-html .overlap-group-3 {
  height: 377px;
  left: 11px;
  position: relative;
  top: -30px;
  width: 331px;
}

.cauction-xyz-by-html .giant-fishing-rod-2 {
  height: 331px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 331px;
}

.cauction-xyz-by-html .giant-fishing-rod-3 {
  color: #a0deaa;
  filter: blur(4px);
  font-family: "Arial Rounded MT Bold-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 32px;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 345px;
  width: 231px;
}

.cauction-xyz-by-html .giant-fishing-rod-4 {
  height: 43px;
  left: 118px;
  position: absolute;
  top: 307px;
  width: 76px;
}

.cauction-xyz-by-html .overlap-3 {
  height: 544px;
  left: 343px;
  position: absolute;
  top: 0;
  width: 1032px;
}

.cauction-xyz-by-html .dead-bush-of-love {
  height: 271px;
  left: 655px;
  position: absolute;
  top: 0;
  width: 271px;
}

.cauction-xyz-by-html .overlap-4 {
  height: 505px;
  left: -14px;
  position: absolute;
  top: 39px;
  width: 391px;
}

.cauction-xyz-by-html .dead-bush-of-love-2 {
  height: 271px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 271px;
}

.cauction-xyz-by-html .dead-bush-of-love-3 {
  background-color: #97050533;
  border-radius: 5px;
  box-shadow: 0px 4px 100px 25px #98050533;
  height: 496px;
  left: 14px;
  position: absolute;
  top: 9px;
  width: 371px;
}

.cauction-xyz-by-html .dead-bush-of-love-4 {
  color: #ffaa00;
  font-family: "Arial Rounded MT Bold-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 34px;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 337px;
  white-space: nowrap;
  width: 335px;
}

.cauction-xyz-by-html .dead-bush-of-love-5 {
  color: #a0deaa;
  font-family: "Arial Rounded MT Bold-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 32px;
  left: 80px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 380px;
  width: 231px;
}

.cauction-xyz-by-html .dead-bush-of-love-6 {
  left: 124px !important;
  position: absolute !important;
  top: 413px !important;
}

.cauction-xyz-by-html .dead-bush-of-love-7 {
  -webkit-text-stroke: 1px #970d0d;
  color: #8d0000;
  font-family: "Lato-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 39px;
  left: 100px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 40px #ff000080;
  top: -1px;
  width: 160px;
}

.cauction-xyz-by-html .warden-helmet {
  height: 406px;
  left: 0;
  position: absolute;
  top: 96px;
  width: 339px;
}

.cauction-xyz-by-html .img-4 {
  height: 271px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 271px;
}

.cauction-xyz-by-html .warden-helmet-text {
  color: #ffaa00;
  font-family: "Arial Rounded MT Bold-Regular", Helvetica;
  font-size: 36.8px;
  font-weight: 400;
  height: 34px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 281px;
  white-space: nowrap;
  width: 335px;
}

.cauction-xyz-by-html .text-wrapper-7 {
  color: #a0deaa;
  font-family: "Arial Rounded MT Bold-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 32px;
  left: 52px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 324px;
  width: 231px;
}

.cauction-xyz-by-html .hyperion-purchase-2 {
  left: 96px !important;
  position: absolute !important;
  top: 356px !important;
}

.cauction-xyz-by-html .gamebreaker {
  height: 406px;
  left: 335px;
  position: absolute;
  top: 96px;
  width: 338px;
}

.cauction-xyz-by-html .gamebreaker-text {
  color: #ffaa00;
  font-family: "Arial Rounded MT Bold-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  height: 34px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 281px;
  white-space: nowrap;
  width: 334px;
}

.cauction-xyz-by-html .overlap-wrapper {
  height: 410px;
  left: 255px;
  position: absolute;
  top: 73px;
  width: 1338px;
}

.cauction-xyz-by-html .overlap-5 {
  height: 410px;
  position: relative;
  width: 1342px;
}

.cauction-xyz-by-html .judgement-core {
  height: 410px;
  left: 1003px;
  position: absolute;
  top: 0;
  width: 339px;
}

.cauction-xyz-by-html .text-wrapper-8 {
  color: #a0deaa;
  font-family: "Arial Rounded MT Bold-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 32px;
  left: 52px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 323px;
  width: 231px;
}

.cauction-xyz-by-html .text-wrapper-9 {
  color: #ffaa00;
  font-family: "Arial Rounded MT Bold-Regular", Helvetica;
  font-size: 36.8px;
  font-weight: 400;
  height: 34px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 280px;
  white-space: nowrap;
  width: 335px;
}

.cauction-xyz-by-html .hyperion-purchase-3 {
  left: 96px !important;
  position: absolute !important;
  top: 360px !important;
}

.cauction-xyz-by-html .deathripper {
  height: 410px;
  left: 669px;
  position: absolute;
  top: 0;
  width: 338px;
}

.cauction-xyz-by-html .deathripper-text {
  color: #ffaa00;
  font-family: "Arial Rounded MT Bold-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  height: 34px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 280px;
  white-space: nowrap;
  width: 334px;
}

.cauction-xyz-by-html .terminator {
  height: 410px;
  left: 334px;
  position: absolute;
  top: 0;
  width: 339px;
}

.cauction-xyz-by-html .hyperion {
  height: 410px;
  left: 0;
  position: absolute;
  top: 0;
  width: 338px;
}

.cauction-xyz-by-html .hyperion-image {
  height: 271px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 271px;
}

.cauction-xyz-by-html .hyperion-text {
  color: #ffaa00;
  font-family: "Arial Rounded MT Bold-Regular", Helvetica;
  font-size: 36.8px;
  font-weight: 400;
  height: 34px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 280px;
  white-space: nowrap;
  width: 334px;
}

.cauction-xyz-by-html .heading-items {
  color: #fcbd0f;
  font-family: "Luckiest Guy-Regular", Helvetica;
  font-size: 45px;
  font-weight: 400;
  height: 45px;
  left: 864px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -87px;
  white-space: nowrap;
}

.cauction-xyz-by-html .div-divider {
  border: 1px solid;
  border-color: #ccae4e;
  height: 2px;
  left: 474px;
  position: absolute;
  top: -41px;
  width: 914px;
}

.cauction-xyz-by-html .footer {
  align-items: flex-start;
  background-color: #1c1c1c;
  display: flex;
  left: 0;
  mix-blend-mode: normal;
  padding: 32px 0px;
  position: absolute;
  top: 2621px;
  width: 1920px;
}

.cauction-xyz-by-html .element-c-s-auction-all-wrapper {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  padding: 0px 793.48px 0px 793.52px;
  position: relative;
  width: 1920px;
}

.cauction-xyz-by-html .element-c-s-auction-all {
  color: transparent;
  font-family: "Arial-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.cauction-xyz-by-html .text-wrapper-10 {
  color: #ccae4e;
}

.cauction-xyz-by-html .text-wrapper-11 {
  color: #738adb;
}

.cauction-xyz-by-html .nav {
  align-items: flex-start;
  background-color: #1c1c1c;
  display: flex;
  left: 0;
  padding: 16px 0px;
  position: absolute;
  top: 163px;
  width: 1920px;
}

.cauction-xyz-by-html .list {
  align-items: flex-start;
  display: flex;
  gap: 24.4px;
  justify-content: center;
  padding: 0px 825.29px 0px 805.28px;
  position: relative;
  width: 1920px;
}

.cauction-xyz-by-html .item-link {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 3.91px 0px 3px;
  position: relative;
}

.cauction-xyz-by-html .pseudo {
  border: 2px solid;
  border-color: #ffde59;
  border-radius: 3px;
  height: 21px;
  left: 0;
  opacity: 0.51;
  position: absolute;
  top: 0;
  width: 45px;
}

.cauction-xyz-by-html .text-wrapper-12 {
  color: #ffc712;
  font-family: "Arial-Narrow", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.cauction-xyz-by-html .item-link-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 3.13px 0px 3px;
  position: relative;
}

.cauction-xyz-by-html .pseudo-2 {
  border: 2px solid;
  border-color: #ffde59;
  border-radius: 3px;
  height: 21px;
  left: 0;
  opacity: 0.51;
  position: absolute;
  top: 0;
  width: 43px;
}

.cauction-xyz-by-html .text-wrapper-13 {
  color: #ffad00;
  font-family: "Arial-Narrow", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.cauction-xyz-by-html .item-link-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 6.81px 0px 7px;
  position: relative;
}

.cauction-xyz-by-html .pseudo-3 {
  border: 2px solid;
  border-color: #ffde59;
  border-radius: 3px;
  height: 21px;
  left: 0;
  opacity: 0.51;
  position: absolute;
  top: 0;
  width: 86px;
}

.cauction-xyz-by-html .item-link-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 4.23px 0px 5px;
  position: relative;
}

.cauction-xyz-by-html .pseudo-4 {
  border: 2px solid;
  border-color: #ffde59;
  border-radius: 3px;
  height: 21px;
  left: 0;
  opacity: 0.51;
  position: absolute;
  top: 0;
  width: 58px;
}
